/* Style sheet for the product page */

body
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

div.main_content
{
    margin-top: 3rem;
    font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6
{
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    
}

h1
{
    text-align:center;
    font-size: 200%;
    margin: 0 0.25rem;
}

h2
{
    
    font-size: 125%;
    margin: 0.25rem 0.75rem;
}
h3
{
    font-size: 125%;
}

a
{
    color: inherit;
    text-decoration: inherit;
}

.video-window
{
    position: relative;
    width: 80%;
    padding-top: 45%;
    margin: auto;
}

.video-window iframe
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

section
{
    background-color: lightgreen;
    margin: -2rem 0 1rem 0;
    padding: 3rem 1rem 2rem 1rem;
    

}
section:nth-of-type(even)
{
    background-color:lightblue;;
}

img
{
    margin: 0;
    padding: 0 0.5rem;
}

img.left
{
    float: left;
}

img.right
{
    float:right
}

.front
{
    padding: 5rem 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}
.front img
{
    width: 100%;
}

.intro
{
    text-align: center;
    font-size: 1.5rem;
}

.intro p
{
    padding: 0 10%;
}

.features
{
    text-align:center;
    font-size: 1.75rem;
}

.features ul
{
    list-style-type: none;
    padding: 0;
}

.features ul img
{
    height: 1.75rem;
    width: auto;
    display: inline;
    margin: 0 .25rem;
    padding: 0;
}

.features ul li
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.testimonials
{
    text-align: center;
}
div.testimonialbox
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

div.testimony
{
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    padding: 0.5rem 2rem;
    font-size: 1rem;
}

p.quote
{
    font-size: 1.25rem;
    font-style: italic;
}
.contactus
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.contactus img
{
    height: 15rem;
    width: auto;
}

.contactus ul
{
    list-style-type: none;
    padding: 0;
}

.contactus ul.contactinfo li, .contactus ul.socialmedia li a
{
    padding: .5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.contactus ul li a img
{
    height: 2rem;
    width: auto;
}

@media screen and (max-width: 600px)
{
    img
    {
        width: 90%;
        float: none;
    }

    .intro p
    {
        padding: 0 0;
    }

    .contactus
    {
    flex-flow: column nowrap;
    }

    div.testimonialbox
    {
        flex-flow: column nowrap;
    }
}

