/* Style sheet for the main pages, not specific stories */

body
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

div.main_content
{
    margin-top: 3rem;
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6
{
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    margin: 0;
}

h1
{
    font-size: 200%;

}

h2
{
    font-size: 125%;
}
h3
{
    font-size: 125%;
}

iframe
{

}

section
{
    background-color: lightgreen;
    margin: 0;
    padding: 1rem;
}
section:nth-of-type(2)
{
    background-color: lightseagreen;
}

img
{
    width: 30%;
}

img.left
{
    float: left;
}

img.right
{
    float:right
}

img.main_logo
{
    width: 100%;
}

@media screen and (max-width: 600px)
{
    img
    {
        width: 100%;
        float: none;
    }
}

.intro
{
    text-align: center;
}
